html{
    --background: white;
    --text: black;
}

body{
    background-color: var(--background);
}

.sumir{
    display: none;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.solua img{
    height: 40px;
    weight: 45px;
    position: relative;      
    left: 1230px;

}
